*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00008033;
    font-family: sans-serif;
    color: #404040;
    cursor: default;
}

.box {
    /* CENTRALIZAR HORIZONTAL E VERTICALMENTE */
    /* ====================================== */  
    /* ====================================== */

    margin: 0 auto 50px;
    
    min-width: 350px;
    max-width: 1040px;

    box-shadow: 0 0 10px -5px #00000089;
    border-radius: 0 0 20px 20px;
    padding: 50px 35px;
    background-color: #fff;
}

.content {
    width: 100%;    
    height: 100%;
}

#car {
    background-image: url(Assets/sky1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    object-fit: cover;
    margin: auto;

    border-radius: 20px;
    box-shadow: 0 0 10px -1px #00000089;

    animation: images-rotation 15s step-end alternate infinite ;
    transition: .2s;

    
    width: 100%;
    height: 60vh;

    @media (max-width: 500px) {
        height: 25vh;
    } 

}

#car:hover {
    animation-play-state: paused;
}

@keyframes images-rotation {
    20% {
        background-image: url(Assets/sky2.jpg);
    }
    40% {
        background-image: url(Assets/sky3.jpg);
    }
    60% {
        background-image: url(Assets/sky4.jpg);
    }
    80% {
        background-image: url(Assets/sky5.jpg);
    }
    100% {
        background-image: url(Assets/sky6.jpg);
    }
}

p {
    text-indent: 20px;
    text-align: justify;
}

#desc {
    margin-top: 5px;
    font-size: 14px;
    text-align: end;
    color: #00000089;
}

.line {
    margin: 25px auto;
    width: 80%;
    height: .5px;
    background-color: #d9d9d9;
}

h2 {
    text-align: center;
    margin: 10px;
}

.sobre {
    margin-top: 20px;
    text-align: justify;
}

.topic-title {
    text-align: left;
    margin: 10px 10px 20px;

    transition: .2s ;
}

.topic-desc {
    margin-bottom: 20px ;
    background-color: #fcfcfc;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px -4px rgb(0, 0, 0, 0.2);
}

.topic:hover > .topic-title{
    padding-left: 25px;
    border-left: 3.5px solid #add8e6;
}

.citacoes {
    margin-top: 50px;
}

.frases-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.frase {
    min-width: 350px;
    max-width: 400px;
    
    padding: 10px;
    margin: 20px auto;

    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

footer {
    text-align: center;
    margin: 20px;
}

footer div a {
    text-decoration: none;
    font-weight: bold;
    color: #4169E1;
}